.article-box-S {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.img-container-S {
  height: 100%;
  width: 30%;
  background-color: lightgray;
}
.image-S {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-container-S {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem;
  width: 70%;
  background-color: rgb(243, 238, 238);
}

.title-S {
  font-size: calc(0.5rem + 1vmin);
}

@media screen and (max-width: 800px) {
  .img-container-S {
    width: 20%;
  }

  .info-container-S {
    width: 80%;
  }

  .title-S {
    font-size: calc(0.8rem + 1vmin);
  }
}
