.mainArticle {
  width: 100%;
  max-width: 1080px;
  margin-bottom: 1rem;
}
.imgContainer {
  width: 100%;
}
.mainImg {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.mainDescTitle {
  color: #716c65;
}
.mainDescContent {
  margin-top: 1.5rem;
  color: #716c65;
  margin-bottom: 1rem;
}
.mainDescContent a {
  text-decoration: none;
}
.fullArticleLink {
  color: #000;
  font-weight: 700;
}
.fullArticleLink:hover {
  color: #b80000;
  text-decoration: underline;
}
.articleSource {
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 0.8rem;
}
.articleSource a {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}
.articleSource a:hover {
  color: #b80000;
  text-decoration: underline;
}
.source {
  color: #000;
  font-weight: 700;
}
.source:not(:last-of-type) {
  border-right: 1px solid rgba(113, 108, 101, 0.4);
  padding-right: 1rem;
}
@media screen and (min-width: 980px) {
  .mainArticle {
    display: grid;
    grid-template-columns: 66.66% 33.33%;
    margin: auto;
    gap: 1rem;
  }

  .mainImg {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .mainDesc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
