.container {
  display: grid;
  width: 99%;
  grid-gap: 1%;
  grid-template-columns: 10% repeat(4, 1fr);
  grid-template-rows: 400px 100px 100px 100px 100px 500px;
  grid-template-areas:
    "topic article1 article1 article1 article1 "
    "topic article2 article2 article6 article6"
    "topic article3 article3 article6 article6"
    "topic article4 article4 article6 article6"
    "topic article5 article5 article6 article6"
    "topic article7 article8 article9 article10";
  background-color: white;
  padding: 1rem 2rem;
}
.topic {
  grid-area: topic;
}
.article1 {
  grid-area: article1;
}

.article2 {
  grid-area: article2;
}

.article3 {
  grid-area: article3;
}

.article4 {
  grid-area: article4;
}

.article5 {
  grid-area: article5;
}

.article6 {
  grid-area: article6;
}

.article7 {
  grid-area: article7;
}

.article8 {
  grid-area: article8;
}

.article9 {
  grid-area: article9;
}

.article10 {
  grid-area: article10;
}

@media (max-width: 800px) {
  .container {
    padding: 1rem 0.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, auto);
    grid-template-areas:
      "topic "
      "article1 "
      "article2 "
      "article3 "
      "article4 "
      "article5"
      "article6"
      "article7"
      "article8"
      "article9"
      "article10";
  }
}
