.article-box-L {
  display: flex;
}

.img-container-L {
  width: 40%;
  background-color: lightgray;
}

.image-L {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-container-L {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1rem;
  width: 60%;

  background-color: rgb(243, 238, 238);
}

.title-L:first-letter {
  color: var(--color-primary);
}

.title-L {
  font-size: 2rem;
}

.p-L {
  font-size: 1.3rem;
  text-align: justify;
}

a {
  color: black;
  text-decoration: none;
}

/* ====================================
I like deviders between elements
==================================== */
.source-L span {
  font-size: 0.8rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-right: solid 1px gray;
}
.source-L span:first-child {
  padding-left: 0rem;
}
.source-L span:last-child {
  border-right: none;
}

/* 
====================================
responsive desing 
==================================== */

@media screen and (max-width: 800px) {
  .article-box-L {
    display: flex;
    flex-direction: column;
  }
  .img-container-L {
    width: 100%;
    height: 60%;
  }

  .info-container-L {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1rem;
    width: 100%;
    height: 40%;

    background-color: rgb(243, 238, 238);
  }

  .title-L {
    font-size: calc(1.5rem + 1vmin);
    margin-bottom: 1rem;
  }

  .p-L {
    font-size: calc(1rem + 1vmin);
    margin-bottom: 1rem;
  }
  .source-L span {
    font-size: calc(0.5rem + 1vmin);
  }
}
